<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find fetch_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <arg name="robot" default="fetch"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="x" default="2.250" />
  <arg name="y" default="3.118" />
  <arg name="z" default="0.0" />


  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <!-- use the new .sdf as worlds file for pouring task-->
    <arg name="world_name" value="$(find fetch_gazebo)/worlds/test_zone_pour.sdf"/>
  </include>

  <!-- Oh, you wanted a robot? -->
  <!-- manually change the location of fetch start location -->
  <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml">
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
  </include>

</launch>
